$font-stack: 'Noto Sans', sans-serif;
$mobile: 800px;

// Brand
$color-brand-blue: #0070D3;
$color-brand-red: #F23D4E;
$color-black: #000000;
$color-white: #ffffff;

// Actions
$color-status-danger: #C92A2A;
$color-status-warning: #FFD43B;
$color-status-success: #51CF66;

// Theme
$color-gray-darkest: #002547;
$color-gray-darker: #657381;
$color-gray-dark: #8494A4;
$color-gray: #D7DEE4;
$color-gray-light: #EAF0F5;
$color-gray-lighter: #F4F8FB;
$color-blue-darker: #005AA9;
$color-blue-dark: #0067C2;
$color-blue-light: #B3D5F2;
$color-red-darker: #C82837;
$color-red-dark: #E03343;
